<!-- About Us Section  -->
<div class="w-section section accent">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered white">About TEMCo</h2>
            <div class="section-subheading center off-white">Since 1968, TEMCo has become a trusted name in industrial power products.</div>
        </div>
        <div class="w-row about-images-row">
            <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/about1.jpg" class="about-images">
            </div>
            <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/about2.jpg" class="about-images">
            </div>
            <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/about3.jpg" class="about-images">
            </div>
            <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/about4.jpg" class="about-images">
            </div>
        </div>
        <p class="white-text">TEMCo products meet the demands of tough industrial applications with dependability and quality. We are proud to be an accredited member of the Better Business Bureau Online Reliability Program. Some of our customers include:</p>
        <div class="w-row">
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/baesystems_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/slac_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/ford_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/appliedmaterials_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/kaiser_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/espn_logo.svg" class="customer-logos">
            </div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/apple_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/gm_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/nasa_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/caterpillar_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/ge_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/varian_logo.svg" class="customer-logos">
            </div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/ibm_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/blackdecker_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/mit_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/merck_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/nordstrom_logo.svg" class="customer-logos">
            </div>
            <div class="w-col w-col-2 w-col-medium-4 w-col-small-4 w-col-tiny-6"><img src="https://www.temcocontent.com/images/ebaytemplate/lll_logo.svg" class="customer-logos">
            </div>
        </div>
    </div>
</div>
<!-- END About Us Section  -->