<!-- Additional Shipping Policy Section  -->
<div class="w-section section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">Shipping</h2>
        </div>
        <div class="w-row">
            <div class="w-col w-col-6 w-col-stack">
                <div class="white-box shipping-box">
                    <h3>Domestic</h3>
                    <p class="red">Lower 48 States: <strong class="red-text">FREE!</strong>
                        <br>Local Pickup Available: <strong class="red-text">FREE!*</strong>
                    </p>
                </div>
            </div>
            <div class="w-col w-col-6 w-col-stack">
                <div class="white-box shipping-box">
                    <h3>International</h3>
                    <p>Calculated by location.</p>
                </div>
            </div>
        </div>
        <p class="left-align">Orders are usually processed and shipped within 24 to 48 hours of receipt of your payment. Please provide us with a physical shipping address (failing to do so may delay your order). We may ship an order by a different courier at our discretion. If you need to receive an order within a guaranteed time frame, please contact us for rush options and expedited shipping.
            <br>
            <br>Import duties, taxes, and charges are not included in the item price or shipping charges. These charges are the buyer's responsibility. Please check with your country's customs office to determine what these additional costs will be prior to bidding/buying. Furthermore, we will not mark merchandise values below value or mark items as "Gifts".
            <br>
            <br><strong>*Local Pick Up</strong> is available at our Fremont CA location, Monday through Friday 9:00 a.m. to 5:00 p.m. Please contact us ahead to ensure that your item is in stock at our location before pick-up.
            <br>
            <br><strong>** International Buyers, Please Note:</strong> If shipping for your country is not listed, contact us for details.</p>
    </div>
</div>
<!-- END Additional Shipping Policy Section  -->