<!-- Additional Payment and Return Policy Section  -->
<div class="w-section section gray-accent">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">Payment &amp; Returns</h2>
        </div>
        <div class="w-row">
            <div class="w-col w-col-6 w-col-stack">
                <div class="white-box payment-returns-box"><img src="https://www.temcocontent.com/images/ebaytemplate/payment_options.svg" class="payment-options">
                    <h3>Payment</h3>
                    <p>TEMCo accepts the following payment methods: PayPal, Visa, MasterCard, AMEX, Discover.
                        <br>
                        <br>We charge 9.75% sales tax for all orders shipping within California. Tax exemption is available if we are provided with a valid California resale certificate.</p>
                </div>
            </div>
            <div class="w-col w-col-6 w-col-stack">
                <div class="white-box payment-returns-box"><img src="https://www.temcocontent.com/images/ebaytemplate/returns_icon.svg" class="grid-icon">
                    <h3>Returns</h3>
                    <p>TEMCo allows for the return of products for 1 year from the date of purchase. Even if it's opened, broken, or used, we will still accept your return and pay shipping both ways.
                        <br>
                        <br>We will replace the item with an identical item or issue a refund for the value of the item.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Additional Payment and Return Policy Section  -->