<!-- Footer Section  -->
<div class="w-section footer">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-6 w-col-stack">
                <div class="white-box transparent left-align">
                    <h5>TEMCo Industrial</h5>
                    <p class="address-paragraph">Sales, Manufacturing &amp; Distribution
                        <br>48621 Warm Springs Blvd
                        <br>Fremont, CA 94539</p>
                </div>
            </div>
            <div class="w-col w-col-6 w-col-stack">
                <div class="white-box transparent left-align">
                    <h5>Contact us</h5>
                    <div class="w-clearfix footer-link-wrapper"><a href="https://contact.ebay.com/ws/eBayISAPI.dll?FindAnswers&amp;requested=temco_industrial&amp;_trksid=p2050430.m2531.l4583&amp;rt=nc" style="font-size:10pt;" target="_blank">Send us a Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Footer Section  -->