<!-- Cross-sell Section -->
<div class="w-section section">
    <div class="w-container ">
        <div class="section-title-group">
            <h2 class="section-heading centered">View more quantities</h2>
        </div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p vertical-center">
                <span class="row-header small-button">6V</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p">
                <span class="row-header small-button">6V w/ Socket</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
        <div class="hor_divider"></div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p vertical-center">
                <span class="row-header small-button">12V</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p">
                <span class="row-header small-button">12V w/ Socket</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
        <div class="hor_divider"></div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p vertical-center">
                <span class="row-header small-button">24V</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p">
                <span class="row-header small-button">24V w/ Socket</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
        <div class="hor_divider"></div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p vertical-center">
                <span class="row-header small-button">36V</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p">
                <span class="row-header small-button">36V w/ Socket</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
        <div class="hor_divider"></div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p vertical-center">
                <span class="row-header small-button">48V</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
        <div class="w-row other-products-row">
            <div class="w-col w-col-11p">
                <span class="row-header small-button">48V w/ Socket</span>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">1 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">2 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">4 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">5 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">10 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">25 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">50 QTY</a>
            </div>
            <div class="w-col w-col-11p">
                <a href="#" class="w-button small-button cross-buttons">100 QTY</a>
            </div>
        </div>
    </div>
</div>
<!-- END Cross-sell Section -->