<!-- Data Sheet and Warranty Policy -->
<div class="w-section section gray-accent">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-6 w-col-stack">
                <a href="#" target="_blank" class="w-inline-block downloads">
                    <div class="white-box hover"><img src="https://www.temcocontent.com/images/ebaytemplate/data_sheet_icon.svg" class="grid-icon">
                        <h3 class="data-sheet-h3">data sheet</h3>
                        <p class="data-sheet-text">Download the full specs.</p>
                    </div>
                </a>
            </div>
            <div class="w-col w-col-6 w-col-stack">
                <a href="https://www.temcocontent.com/attachments/temco_2yearwarranty.pdf" target="_blank" class="w-inline-block downloads">
                    <div class="white-box hover"><img src="https://www.temcocontent.com/images/ebaytemplate/warranty_icon.svg" class="grid-icon">
                        <h3 class="data-sheet-h3">2 Year Warranty</h3>
                        <p class="data-sheet-text">Download the PDF.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END Data Sheet and Warrnty Policy -->