<!-- Features Section  -->
<div class="w-section section accent">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered white">Features</h2>
        </div>
        <div class="features-hero-section">
            <img src="https://www.temcocontent.com/images/switches/CN0346_to_CN0481/CN0347_04_warranty.jpg" class="centered">
            <div class="caption">
                <p class="caption-header"><strong>2 Year Warranty</strong></p>
                <p>Built to last. Founded in 1968. We've been around long enough for this to mean something.</p>
            </div>

        </div>
        <div class="w-row">
            <div class="w-col w-col-4 w-col-stack">
                <p class="white-text">One year no-questions-asked return policy - we pay for your return label.</p>
            </div>
            <div class="w-col w-col-4 w-col-stack">
                <p class="white-text">Two year warranty against all manufacturing defects.</p>
            </div>
            <div class="w-col w-col-4 w-col-stack">
                <p class="white-text">Sockets are also available.</p>
            </div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-4 w-col-stack">
                <p class="white-text">Purchase in bulk for cost savings.</p>
            </div>
            <div class="w-col w-col-4 w-col-stack">
                <p class="white-text">We ship from Fremont, California, which means you get your orders fast!</p>
            </div>
        </div>
    </div>
</div>
<!-- END Features Section  -->