<!-- Feedback and Social Proof Section  -->
<div class="w-section section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">Customer feedback</h2>
            <div class="section-subheading center">We strive to provide 5-star service. Shop with confidence!</div>
        </div>
        <div class="centered"><img src="https://www.temcocontent.com/images/ebaytemplate/stars.jpg">
        </div>
        <h3>100% Positive reviews</h3>
        <p>We want nothing more for our buyers than to be 100% happy with their purchase. We strive to earn a 5-star rating from every purchase. When you receive your purchase, please take a moment to leave us a positive feedback. If there was something unsatisfactory about your purchase, please contact us before leaving feedback and we'll do what's necessary to remedy the problem and ensure your satisfaction!
            <br>
            <br>When your order ships from our warehouse, we will automatically leave you positive feedback.</p>
        <div class="w-row reviews-row">
            <div class="w-col w-col-3 w-col-stack reviews">
                <h4>"I have always been delighted with the service from TEMCo."</h4>
                <p>Your customer service, which is seldom needed, is wonderful, the staff knowledgeable and courteous. The shipping has been quite fast, which make my life easier... So, thank you, for the good experiences with the company!
                    <br>
                    <br>Rick C</p>
            </div>
            <div class="w-col w-col-3 w-col-stack reviews">
                <h4>"I have ordered from TEMCo several times over the last 2 years and have always found the process to be simple and quick."</h4>
                <p>Making the order takes only a few moments, the product is always high quality and the shipping fast.
                    <br>
                    <br>Glen B</p>
            </div>
            <div class="w-col w-col-3 w-col-stack reviews">
                <h4>"Thank you for a very satisfying and honest transaction."</h4>
                <p>It is really great to deal with a company that does exactly what they advertise. I can truly say I would recommend your company to anyone interested in the equipment you sell.
                    <br>
                    <br>Paul Gilley</p>
            </div>
            <div class="w-col w-col-3 w-col-stack reviews">
                <h4>"The service was awesome."</h4>
                <p>I had many tech questions, and they spent about 30 mins on the phone answering all of them for me. It is not to often to find service like that!!!!! I am so happy and will definitly purchase from them again. A+++++
                    <br>
                    <br>MRZ Contracting</p>
            </div>
        </div>
        <h3>Still not sure about us?</h3>
        <div class="w-row">
            <div class="w-col w-col-4 w-col-stack check-us-out">
                <p>Check us out on the <a target="_blank" href="https://www.bbb.org/greater-san-francisco/business-reviews/phase-converters/temco-tower-electric-motor-company-in-fremont-ca-53051">Better Business Bureau</a> and <a target="_blank" href="https://www.resellerratings.com/store/Getpower_us">Reseller Ratings</a>, or look at our <a target="_blank" href="https://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback2&amp;userid=temco_industrial_power&amp;&amp;_trksid=p2047675.l2560&amp;rt=nc&amp;iid=381412847497&amp;sspagename=VIP%3Afeedback&amp;ftab=FeedbackAsSeller">eBay seller ratings</a> with a perfect score in all categories.</p>
            </div>
            <div class="w-col w-col-4 w-col-stack">
                <div class="bbb-icon">
                    <a href="https://www.bbb.org/greater-san-francisco/business-reviews/phase-converters/temco-tower-electric-motor-company-in-fremont-ca-53051" target="_blank" class="w-inline-block"><img src="https://www.temcocontent.com/images/ebaytemplate/bbb_logo.svg">
</a>
                </div>
            </div>
            <div class="w-col w-col-4 w-col-stack">
                <div class="rr-icon">
                    <a href="https://www.resellerratings.com/store/Getpower_us" target="_blank" class="w-inline-block"><img src="https://www.temcocontent.com/images/ebaytemplate/rr_logo.png">
</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Feedback and Social Proof Section  -->