<!-- Free Shipping Policy  -->
<div class="w-section free-shipping-section">
    <div class="w-container">
        <div class="section-title-group">
            <div class="free-shipping"><img src="https://www.temcocontent.com/images/ebaytemplate/free_shipping_graphic.svg" class="free-shipping-icon">
                <h2 class="free-shipping-header">Free Shipping</h2>
                <div class="section-subheading center">To Lower 48 States</div>
            </div>
        </div>
    </div>
</div>
<!-- END Free Shipping Policy  -->