<!-- Refund and Return Policy  -->
<div class="w-section _11-months-section">
    <div class="w-container">
        <div class="section-title-group">
            <div class="centered"><img src="https://www.temcocontent.com/images/ebaytemplate/temco_promise_graphic.svg" class="temco-promise-icon">
            </div>
            <h2 class="_11-months-heading">11 Months From Now...</h2>
            <p class="_11-months-text white-text">If it doesn't fit.
                <br>If it looks funny.
                <br>Or you just changed your mind.
                <br>
                <br>Even if it's opened, used or broken, we will still accept your return and pay shipping both ways.
                <br><strong>No restocking fee. Up to 1 year.</strong>
            </p>
        </div>
    </div>
</div>
<!-- END Refund and Return Policy  -->