<!-- Same Day Shipping Policy  -->
<div class="free-shipping-section">
    <div class="w-container">
        <div class="section-title-group">
            <div class="free-shipping"><img sizes="(max-width: 648px) 100vw, 648px" src="https://www.temcocontent.com/images/ebaytemplate/same_day_shipping.jpg" srcset="https://www.temcocontent.com/images/ebaytemplate/same_day_shipping-p-500x232.jpeg 500w, https://www.temcocontent.com/images/ebaytemplate/same_day_shipping.jpg 648w">
            </div>
        </div>
    </div>
</div>
<!-- END Same Day Shipping Policy  -->